@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

.analytics {
    background-color: #fff !important;
}

.jumbotron {
    background-color: #fff !important;
    font-family: 'Manrope';
    padding: 30px;
    color: #808088;
}

.jumbo-title {
    font-size: 20px;
    font-weight: lighter;
}

select {
    font-family: 'Manrope';
}

